<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 text-center">
          <h3>
            User Entires
            <div>
              20
            </div>
          </h3>
        </div>
        <div class="col-md-3 text-center">
          <h3>
            Users Left
            <div>
              12
            </div>
          </h3>
        </div>
        <div class="col-md-3 text-center">
          <h3>
            Pot
            <div>
              100
            </div>
          </h3>
        </div>
        <div class="col-md-3 text-center">
          <h3>
            GW
            <div>
              1
            </div>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>
            User Public Key
          </h3>
        </div>
        <div class="col-md-9">
          <h3>
            0xcf6c729305cf0072caf1332b46d
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>
            User Entry
          </h3>
        </div>
        <div class="col-md-3">
          <h3 ng-bind="vm.teamSelection">
          </h3>
        </div>
        <div class="col-md-3">
          <h3>
            Game Week 1
          </h3>
        </div>
        <div class="col-md-3">
          <h3>
            Stake 300
          </h3>
        </div>
      </div>
      <h3 class="text-center">
        Choose your team for Game Week X
      </h3>
      <pre>
        {{vm.teams}}
      </pre>
      <div class="row">
        <div class="col-md-6">
          <div class="btn-group-lg">
             
            <button 
              ng-repeat="team in vm.teamsA"
              ng-click="vm.makeSelection(team)"
              class="btn btn-default btn-choose" 
              type="button"
              ng-bind="team.name">
            </button>

          </div>
        </div>
        <div class="col-md-6">
          <div class="btn-group-lg">
             
            <button 
              ng-repeat="team in vm.teamsB" 
              ng-click="vm.makeSelection(team)"
              class="btn btn-default btn-choose" 
              type="button"
              ng-bind="team.name">
            </button>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
           
          <button type="button" class="btn btn-primary btn-lg btn-block">
            CONFIRM
          </button>
        </div>
      </div>
    </div>
  </div>
</div>